<p-carousel [value]="news" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
    <p-header>
        <h3 class="animate__animated animate__fadeInDown titulo-internas" translate>cities_pandemic</h3>
    </p-header>
    <ng-template let-new pTemplate="item">
        <div class="ides-card m-2">
            <img src="{{new.img}}" />
            <p class="parrafo-noti"> </p>
            <a [href]="new.read" class="myButtonleermas" target="_blank" translate>read</a>
        </div>
    </ng-template>
</p-carousel>