<div class="ides-card-border-radius-0 ides-height-auto">
    <div class="row p-4">
        <div class="col-12 ides-text-blue-dark">
            <h3 class="font-weight-bolder">{{ item.name }}</h3>
        </div>
        <div class="col-12" class="content" [ngClass]="{ less: hidden }">
            <p class="ml-3">
                {{ item.description }}
            </p>
        </div>
        <div class="col-12 p-t-2 pt-4">
            <a class="text-uppercase font-weight-bold ides-text-blue-dark" data-toggle="modal"
                data-target="#exampleModal" (click)="getValue(item)">
                {{hidden ? 'Leer Más' : 'Leer Menos'}}
            </a>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ content }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>