.social-facebook {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url(../../../assets/social-media/facebook.svg);
}

.social-twitter {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url(../../../assets/social-media/twitter.svg);
}

p.subtitulo-covid {
    margin-top: 5px;
    font: 15px "Roboto", sans-serif;
    color: #9195a4;
    line-height: 22px;
}