<div class="row mb-5">
    <div class="contiene-desempeno">
        <div class="contiene-elementos">
            <div class="anima-texto"><app-ides-index [marginAuto]="true" [title]="'Desempeño por ciudad'" [showDropCities]="true" [showDropYears]="true" [variableSelected]="v" [activeCities]='cities'>
            </app-ides-index></div>
        </div>
    </div>
</div>

<div class="Definiciones">
    <div class="col-12 ides-text-blue mb-4">
        <div class="contiene-desempeno">
            <div class="anima-texto"><h2 class="tituloz" translate>Definiciones</h2></div>
            <div class="row m-4">
                <div class="col-md-12 col-lg-6" *ngFor="let c of resultClasification">
                    <div class="row">
                        <div class="col-sm-12 col-md-3 align-items-center justify-content-center">
                            <img width="110" height="110" [src]="c.image_route" class="ides-def-icons" />
                            <h4 class="text-center">{{c.name}}</h4>
                        </div>
                        <div class="col-sm-12 col-md-9 mb-5">
                            <p class="ides-text-custom text-justify ides-text-index-subtitle">
                                {{c.description}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>