<div class="contiene-pagina">
    <div class="row  covid-header">
        <div class="covid-header1 ">
            <h2 translate>indexes</h2>
        </div>
        <div class="covid-header2">



            <div class="row">

                <div class="col-md-12 text-lg-right">
                    <a class=" ides-text-white cursor-pointer" routerLink="/" translate>home_city</a>
                </div>


            </div>

        </div>
    </div>

    <div class="col-md-12 titulo text-center mt-4">
        <h2 class="subtitulo" translate>Desempeño por ciudad</h2>
    </div>

    <div class="col-md-12 mt-4 text-center subtitulo">
        <p translate>index description</p>
    </div>

    <div class="contiene-desempeno mb-5">

        <div *ngIf="indexesSelected.length===0" class="col-md-12 alert alert-primary">

            <div class="container">
                <div class="row">
                    <div class="col-auto">
                        <i class="pi pi-spin pi-spinner" style="font-size: 2em"></i>

                    </div>

                    <div class="col-auto align-self-center">
                        <span translate>loadIMC</span>

                    </div>
                </div>
            </div>




        </div>
        <div *ngIf="indexesSelected.length>0" class="contiene-elementos">

            <div class="col-md-6 col-lx-12 text-left+">
                <p-multiSelect selectedItemsLabel="{{'cities_selected'|translate}}" class="block" [options]="indexes" optionLabel="canton.name" [(ngModel)]="indexesSelected" [defaultLabel]="'Ciudades'" [showHeader]=true name="indexesSelected">
                </p-multiSelect>
            </div>

            <!--  <div class="col-md-6 col-lx-12 text-left+" *ngIf="years.length>0">
                    <p-multiSelect selectedItemsLabel="{{'cities_selected'|translate}}" class="block" [options]="years" optionLabel="year" [(ngModel)]="yearSelected" [defaultLabel]="'Años'" [showHeader]=true name="yearSelected">
                    </p-multiSelect>
            </div>-->
            <app-ides-index [indexes]="indexesSelected">
            </app-ides-index>
        </div>
    </div>

    <div class="col-md-12 col-12 backgroung-inforgrafica">

        <div class="container">

            <div class="row">
                <div class="col-md-12 titulo text-center mt-4 mb-2">
                    <h2 class="subtitulo" translate>indice</h2>
                </div>

                <div class="col-12">
                    <img src="assets/indice/Infografia_indice.png" alt="" width="100%" height="650">

                </div>
            </div>

        </div>






    </div>
</div>
<!--<div class="Definiciones">
    <div class="col-12 ides-text-blue mb-4">
        <div class="contiene-desempeno">
            <div class="anima-texto">
                <h2 class="tituloz" translate>Definiciones</h2>
            </div>
            <div class="row m-4">
                <div class="col-md-12 col-lg-6" *ngFor="let c of resultClasification">
                    <div class="row">
                        <div class="col-sm-12 col-md-3 align-items-center justify-content-center">
                            <img width="110" height="110" [src]="c.image_route" class="ides-def-icons" />
                            <h4 class="text-center">{{c.name}}</h4>
                        </div>
                        <div class="col-sm-12 col-md-9 mb-5">
                            <p class="ides-text-custom text-justify ides-text-index-subtitle">
                                {{c.description}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->