<div class="row justify-content-center">

    <div class="col-12 align-self-center">
        <highcharts-chart [oneToOne]=true [Highcharts]="highcharts" [options]="chartOptions" style="width: 100%; height: 500px; display: block;">
        </highcharts-chart>
    </div>

    <div *ngIf="data.length>0" class="col-12  align-self-center">
        <app-ides-social-media [chartDetails]="chartDetails" [variable]="variable.name"></app-ides-social-media>
    </div>



    <!-- <div *ngIf="variable" class="mt-2 col-md-12 text-left">
        <p class="subtitulo-covid">{{variable.origins[0].name }}</p>
    </div>


    <div class="col-md-2 col-2 mt-1 share-covid mr-lg-1">
        <span class="ides-text-blue" translate>share</span>
    </div>

    <div class="ml-1" *ngFor="let item of socialMedia">

        <a class="cursor-pointer" (click)="getURLImage()">
            <i [ngClass]="item.img"></i>
        </a>

       
    </div>-->

</div>