<div *appAllowMenuItem="item">
    <div [ngSwitch]="item.type">
        <div *ngSwitchCase="'text'">
            <a [routerLinkActive]="['nav-item-active']" [routerLink]="item.url" [ngClass]="textColorNav" class="ext-none cursor-pointer" (click)="hideMenu(item)" translate>{{ item.title }}</a>
        </div>

        <div *ngSwitchDefault>
            <div class="dropdown">
                <a [routerLinkActive]="['nav-item-active']" [ngClass]="textColorNav" class="cursor-pointer text-none dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span (click)="hideMenu(item)" class="nav-item-root" translate>{{ item.title }}</span>
                    <div class="dropdown-menu dropdown-menu-xl-right dropdown-menu-sm-left" aria-labelledby="dropdownMenuButton">
                        <div class="text-white" *ngFor="let o of item.options | slice:0:item.amountToShow">
                            <a [routerLink]="o.url" [queryParams]="o.queryParams" class=" dropdown-item" href="#" (click)="showCloudWord(o.text)" translate>{{ o.text }}</a>
                        </div>
                        <!-- <div *ngIf="item.options.length > item.amountToShow" class="text-center">
                            <fa class="cursor-pointer" [name]="'angle-double-down'"></fa>
                        </div>-->
                    </div>
                </a>

            </div>
        </div>
    </div>
</div>