<div class="row ">
    <div class="col-md-12">

        <p-carousel [value]="home" [circular]="true" [autoplayInterval]="12000">

            <ng-template let-home pTemplate="item">
                <div class="picsum-img-wrapper" class={{home.background}}>
                    <div class="row1">
                        <div class="Texto-home1">
                            <div class="anima-texto">
                                <div class="ides-text-white ides-home-title" translate>{{home.title}}</div>
                            </div>
                            <div class="anima-texto">
                                <div class="ides-text-white ides-home-subtitle" translate>{{home.subtitle}}
                                </div>
                            </div>
                            <div class="text-center btn-space">
                                <div class="anima-boton">
                                    <a class="myButton float-left" type="button" [routerLink]="home.routerLink">
                                        <span class="ides-mr-80 cursor-pointer" translate>click_here</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8" *ngIf="home.svg">
                            <svg-icon src="{{home.svg}}">
                            </svg-icon>
                        </div>

                        <div *ngIf='home.title ==="our_cities"' class=" col-md-8 ml-5">
                            <div vectormap [mapHeight]="mapHeight" [mapName]="mapName" [seriesData]="seriesData" [markersData]="markersData" [mapOptions]="mapOptions" (markerClick)="onMarkerClick($event)"></div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>


    </div>

</div>
<div class="row mb-4 ides-ml-analyse_topics">
    <div class="col-md-12">
        <!-- <div class="text-center text pb-2 pl-4" translate>statistical_charts</div>-->
        <div class="text-center subtitle pb-2 pl-4" translate>analyse_topics</div>
        <div class="text-center text pb-2 pl-4" translate>statistical_charts</div>
        <app-ides-thematic>
        </app-ides-thematic>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-12 ides-height-100-about-us animate__animated animate__headShake">
        <div class="text-center title" translate>about us
        </div>
    </div>
</div>

<div class="row ">
    <div class="container ">
        <div class="col-md-12 ides-about-text">

            <div class="row">
                <div class="col-md-6 text-center p-5 ">
                    <div class="ides-little-tittle-text-about-us " translate>
                        title-about-us</div>
                    <p class="ides-little-text-about-us" translate>about us description
                    </p>

                    <p class="ides-little-text-about-us " translate>about us description complement
                    </p>
                    <p class="ides-little-text-about-us" translate>about us strategic
                    </p>
                    <p class="ides-little-text-about-us " translate>about us help
                    </p>
                    <p class="ides-little-text-about-us " translate>about us contact
                    </p>
                </div>

                <div class="col-md-6 d-flex justify-content-center">

                    <img src="assets/logos/logo-color.svg" alt="" style="width:370px ;height:320px;">

                </div>
            </div>



        </div>



    </div>
</div>



<div class="row bg-twitter">

    <div class="container">
        <div class="row">
            <div class="col-md-6 p-4">
                <a class="twitter-timeline" data-width="500" data-height="640" href="https://twitter.com/escuelagob_ide">Tweets by escuelagob_ide</a>

            </div>

            <div class="col-md-6 d-flex justify-content-center">
                <img class="m-md-auto d-block" src="assets/twitter/zona-twitter.png" alt="" style="width:370px ;height:320px;">
            </div>
        </div>
    </div>




</div>


<!-- <p-dialog class="mt-5" [(visible)]="display" [modal]=true [dismissableMask]=true>

    <video autoplay loop>
        <source src="https://api-ideas-urbanas.uhemisferios.edu.ec/file/reportes/video.mp4" type="video/mp4" />
    </video>
</p-dialog>-->