div ul.nav li {
    margin-right: 30px;
}

.login {
    margin-bottom: 4px;
}

.menu-mobile {
    position: absolute;
    background: white;
    right: 0;
    width: 260px;
    border: 1px #076DCD solid;
}

.list-menu-mobile {
    border-bottom: 0;
    padding: 0.45rem 1.25rem;
}

.ides-navbar-toggler-mobile {
    border: none !important;
}

.ides-navbar-toggler-mobile>fa {
    font-size: 1.4rem;
}

.ides-navbar-toggler-mobile>fa:hover {
    color: #076DCD !important;
}

.ides-navbar-toggler-mobile>fa:active {
    color: #076DCD !important;
}

.mat-menu-content {
    width: 100%;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #095793;
    //background: transparent;
    //background-color: #189cff;
}

.mat-menu-content2 {
    width: 100%;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    background-color: transparent;
    //background: transparent;
    //background-color: #189cff;
}

.mat-menu-content-covid {
    width: 100%;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
    //background: transparent;
    //background-color: #189cff;
}

.ides-navbar-items {
    padding: 1.5rem 0rem;
    min-width: 695px;
    margin: 0 auto;
}

.ides-navbar-items-buttom {
    padding: 1.5rem .5rem;
}

.nav-change-color-items {
    background-color: white important;
    color: white;
}

.nav-change-color-items:hover {
    color: #F8A901 !important;
}

.logo12 {
    width: 20%;
}

.menu10 {
    margin: 0 auto;
    width: 600%;
}

.otromenu {
    padding-left: 0px;
    //margin-top: 7px;
    width: 20%;
    max-width: 200px;
    ;
}
@media (min-width: 320px) {
    .row11 {
        display: inline-block;
        margin: 0 auto;
        min-width: 100%;
        text-align: center;
    }
}
@media (min-width: 360px) {
    .row11 {
        display: inline-block;
        margin: 0 auto;
        min-width: 100%;
        text-align: center;
    }
}

@media (min-width: 1080px) {
    .row11 {
        display: flex;
        margin: 0 auto;
        min-width: 100%;
        text-align: center;
    }
}

@media (min-width: 360px) {
    .otromenu {
        padding-left: 0px;
        //margin-top: 7px;
        width: 100%;
        max-width: 360px;
    }
}

@media (min-width: 1080px) {
    .otromenu {
        padding-left: 0px;
        //margin-top: 7px;
        width: 20%;
        max-width: 20%;
    }
}

@media (min-width: 1080px) {
    .menu10 {
        margin: 0 auto;
        max-width: 20%;
    }
}

@media (min-width: 360px) {
    .menu10 {
        margin: 0 auto;
        max-width: 100%;
    }
}

.ides-navbar-items {
    padding: 1.5rem 0rem;
    min-width: 580px;
    margin: 0 auto;
}

.row11 {
    display: flex;
    margin: 0 auto;
    min-width: 100%;
    text-align: center;
    max-width: 1400px;
}

//MENU
.menu-animate {
    margin-top: 2em;
}

.margin-span {
    margin-right: 1.6em;
    color: white;
}

.margin-span-color {
    margin-right: 1.6em;
    color: #124ca6;
}
.menu-mobile {
    position: absolute;
    background: white;
    right: 0;
    width: 260px;
    border: 0px #076DCD solid;
    border-radius: 30px;
    -webkit-border-radius: 27px 27px 27px 27px;
    box-shadow: 0px 0px 49px -7px #163375;
    padding-top: 32px;
    padding-left: 10px;
}