<div class="flex-column  fixed-top" [ngClass]="background">
    <div class="col-md-12 text-center" [ngClass]="backgroundUniversidad">
        <img [src]="logoUniversidad" alt="" height="58" width="200px">
    </div>
    <div class="col-md-12 margin-navbar">
        <nav id="navbarMenu" class="navbar navbar-expand-xl mar">


            <div id="IdButton" class="d-sm-block d-md-none mt-4">
                <div class="row">
                    <div class="col-8 col-sm-11">
                        <a routerLink="/" class="navbar-brand ml-1 logo-link">
                            <img id="header-logo" class="ide-logo-headerh" [src]="srcImage" width="300px" alt="">
                        </a>
                    </div>
                    <div class="col-4 col-sm-1">
                        <button class="navbar-toggler mt-2 ides-navbar-toggler-mobile" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                            <fa [ngClass]="colorButton2" class="cursor-pointer" [name]="'bars'"></fa>
                        </button>
                        <div class="collapse navbar-collapse mt-3 menu-mobile" id="navbarResponsive">
                            <ul class="nav ml-auto list-group list-group-flush">
                                <li class="list-group-item list-menu-mobile" *ngFor="let i of items">
                                    <app-navbar-item (showMore)="showMore.emit($event)" [item]="i"></app-navbar-item>
                                </li>

                                <li>

                                    <div class="otromenu">
                                        <div class="menu22">

                                            <div *ngFor="let i of icons" class="ides-navbar-items-buttom">
                                                <a target="_blank" [attr.href]="i.link" class="social ">
                                                    <fa class="cursor-pointer" [ngClass]="colorIcon" [name]="i.name">
                                                    </fa>
                                                </a>
                                            </div>

                                            <div class="dropdown" [ngClass]="colorLanguaje">
                                                <button [ngClass]="colorButton" class="btn ides-dropdown dropdown-toggle ides-dropdown-menu" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="ides-mr-80 font-weight-bold"
                                                        [ngClass]="colorLanguaje">{{ language | uppercase }}</span>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                    <a (click)="onSetLanguage('es')" class="dropdown-item cursor-pointer">ES</a>
                                                    <a (click)="onSetLanguage('en')" class="dropdown-item cursor-pointer">EG</a>
                                                </div>
                                            </div>
                                            <div class="login ides-navbar-items-buttom" [ngSwitch]="isAuthenticated()" (mouseover)='overLogin = true' (mouseout)='overLogin = false'>
                                                <div *ngSwitchCase="true" class="ides-text-blue" style="font-size: 10px;">
                                                    <span translate>hello</span>, {{ getName() }}
                                                    <i-feather (click)="logout()" class="cursor-pointer" name="log-out">
                                                    </i-feather>
                                                </div>
                                                <a *ngSwitchDefault routerLink="/auth/login">
                                                    <fa [ngClass]="colorIcon" class="cursor-pointer social" name="user">
                                                    </fa>
                                                    <!--   <img width="20" height="16" class="img" [src]="overLogin ? 'assets/ICONOS/user-admin-naranja.png' : 'assets/ICONOS/user-admin.png'" />-->
                                                </a>
                                            </div>

                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>





            <div class="logo12">
                <a routerLink="/" class="navbar-brand ml-1 logo-link d-none d-sm-none d-md-block">
                    <img id="header-logo" [src]="srcImage" height="80px" width="200px" alt="">
                </a>
            </div>
            <div class="row11">

                <div *ngIf="testBool" class="menu10">
                    <div class="w-100 d-none d-sm-none d-md-block mr-4 navbar-collapse mt-2">
                        <ul class="nav ides-navbar-items">
                            <li *ngFor="let i of items" class="mr-4 animate__animated animate__slideInRight animate__fast">
                                <app-navbar-item (showMore)="showMore.emit($event)" [item]="i"></app-navbar-item>
                            </li>
                        </ul>
                    </div>
                </div>
                <div *ngIf="testBool" class="otromenu d-none navbar-collapse">
                    <div class="menu22">

                        <div *ngFor="let i of icons" class="ides-navbar-items-buttom animate__animated animate__slideInRight animate__fast">
                            <a target="_blank" [attr.href]="i.link" class="social  ">
                                <fa class="cursor-pointer" [ngClass]="colorIcon" [name]="i.name"></fa>
                            </a>
                        </div>

                        <div class="dropdown animate__animated animate__slideInRight animate__fast" [ngClass]="colorLanguaje">
                            <button [ngClass]="colorButton" class="btn ides-dropdown dropdown-toggle ides-dropdown-menu" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="ides-mr-80 font-weight-bold"
                                    [ngClass]="colorLanguaje">{{ language | uppercase }}</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a (click)="onSetLanguage('es')" class="dropdown-item cursor-pointer">ES</a>
                                <a (click)="onSetLanguage('en')" class="dropdown-item cursor-pointer">EG</a>
                            </div>
                        </div>
                        <div class="login ides-navbar-items-buttom animate__animated animate__slideInRight animate__fast" [ngSwitch]="isAuthenticated()" (mouseover)='overLogin = true' (mouseout)='overLogin = false'>
                            <div *ngSwitchCase="true" class="ides-text-blue" style="font-size: 10px;">
                                <span translate>hello</span>, {{ getName() }}
                                <i-feather (click)="logout()" class="cursor-pointer" name="log-out"></i-feather>
                            </div>
                            <a *ngSwitchDefault routerLink="/auth/login">
                                <fa [ngClass]="colorIcon" class="cursor-pointer social" name="user"></fa>
                                <!--   <img width="20" height="16" class="img" [src]="overLogin ? 'assets/ICONOS/user-admin-naranja.png' : 'assets/ICONOS/user-admin.png'" />-->
                            </a>
                        </div>

                    </div>
                </div>




            </div>


            <!--  <div *ngIf="!buttonVisible" class="cursor-pointer col-md-1 text-center">
                <span [ngClass]="marginSpan" (click)="showMenu()">MENU</span>
            </div>-->
        </nav>
    </div>
</div>









<!-- <div class="w-100 d-none d-sm-none d-md-block mr-5">
      <div class="navbar-collapse mt-2 ">
        <div class="row"> -->
<!-- <div>
            <ul class="nav">
              <li *ngFor="let i of items" class="mr-5">
                <app-navbar-item (showMore)="showMore.emit($event)" [item]="i"></app-navbar-item>
              </li>
            </ul>
          </div> -->
<!-- <div *ngFor="let i of icons" class="col-auto ">
                  <a target="_blank" [attr.href]="i.link" class="social ">
                    <fa class="cursor-pointer ides-text-icon" [name]="i.name"></fa>
                  </a>
                </div> -->

<!-- <div class="col-auto  login" [ngSwitch]="isAuthenticated()" (mouseover)='overLogin = true' (mouseout)='overLogin = false'>
                  <div *ngSwitchCase="true" class="ides-text-blue" style="font-size: 16px;">
                    <span translate>hello</span>, {{ getName() }}
                      <i-feather (click)="logout()" class="cursor-pointer" name="log-out"></i-feather>
                  </div>
                  <a *ngSwitchDefault routerLink="/auth/login">
                    <fa class="cursor-pointer ides-text-icon social" name="user"></fa>
                        <!- <img width="20" height="16" class="img" [src]="overLogin ? 'assets/ICONOS/user-admin-naranja.png' : 'assets/ICONOS/user-admin.png'" />-->
<!-- </a>
                </div>  -->

<!-- <div class="dropdown text-white" class="ml-auto mx-auto text-white">
                    <button class="btn ides-dropdown dropdown-toggle ides-text-white ides-dropdown-menu" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="ides-mr-80 font-weight-bold text-white">{{ language | uppercase }}</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right text-white" aria-labelledby="dropdownMenuButton">
                        <a (click)="onSetLanguage('esp')" class="dropdown-item cursor-pointer">Esp</a>
                        <a (click)="onSetLanguage('eng')" class="dropdown-item cursor-pointer">Eng</a>
                    </div>
                </div>
            </div> -->