div ul.nav li {
    margin-right: 30px;
}

.login{
    margin-bottom: 4px;
}

.menu-mobile{
    position: absolute;
    background: white;
    right: 0;
    width: 260px;
    border: 1px #076DCD solid;
}

.list-menu-mobile{
    border-bottom: 0;
    padding: 0.45rem 1.25rem;
}

.ides-navbar-toggler-mobile{
    border: none !important;
}

.ides-navbar-toggler-mobile > fa{
    font-size: 2.25rem;
}
.ides-navbar-toggler-mobile > fa:hover{
    color: #076DCD !important;
}
.ides-navbar-toggler-mobile > fa:active{
    color: #076DCD !important;
}

.mat-menu-content {
  width: inherit;
  //background-color: #1756FF !important;
  //background: transparent;
  //background-color: #189cff;
}

.ides-navbar-items {
  padding: 1.5rem 1.25rem;
  margin-left: 2rem;
}
.ides-navbar-items-buttom{
  padding: 1.5rem 1.25rem;
}
.nav-change-color-items{
  background-color: white important;
  color: white;
}
.nav-change-color-items:hover {
    color: #F8A901 !important;
}
