.social-facebook {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url(../../../assets/social-media/facebook.svg);
}

.social-twitter {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url(../../../assets/social-media/twitter.svg);
}