.icon-action-edit {
    color: #ff586b;
}

.icon-action-delete {
    color: #1cbcd8;
}

.icon-action {
    margin-right: 10px;
    width: 18px;
}

.icon-action:hover {
    cursor: pointer;
}

.ides-datatable-column-down::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.ides-datatable-column-up::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0;
    border-right: .3em solid transparent;
    border-bottom: .3em solid;
    border-left: .3em solid transparent;
}