<div class="row">
    <div class="col-md-12 mb-4">
        <h3 class="animate__animated animate__fadeInDown titulo-internas" translate>Videos</h3>
    </div>

</div>

<div class="row">
    <div class="col-md-4 col-12 mt-3  ">
        <div class="embed-responsive embed-responsive-21by9">

            <iframe width="500" height="300" src="https://www.youtube.com/embed/OIFIVO3bjAQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </div>

    <div class="col-md-4 col-12 mt-3 ">

        <div class="embed-responsive embed-responsive-21by9">

            <iframe width="500" height="300" src="https://www.youtube.com/embed/1HmNAagmAeo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </div>

    <div class="col-md-4 col-12 mt-3 ">

        <div class="embed-responsive embed-responsive-21by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-fbWZbYmGvc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>