<div class="row">
    <div class="col-md-12 mb-4">
        <h3 class="animate__animated animate__fadeInDown titulo-internas" translate>Videos</h3>
    </div>
    <div class="col-md-6 mt-3">
        <iframe width="500" height="300" src="https://www.youtube.com/embed/OIFIVO3bjAQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="col-md-6 mt-3">
        <iframe width="500" height="300" src="https://www.youtube.com/embed/1HmNAagmAeo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>