<!-- <div id="app-ideas-mapa-movil">
        <div *ngIf="device == 'mobile'">
            <div class="navbar navbar-expand-xl navbar-light bg-lignt static-top pb-4 pr-md-5 pl-md-5 ides-header">
                <div _ngcontent-arf-c2="" class="d-sm-block d-md-none">
                    <div _ngcontent-arf-c2="" class="row">
                        <div _ngcontent-arf-c2="" class="col-10 col-sm-11"><a _ngcontent-arf-c2=""
                                class="navbar-brand ml-2 logo-link" routerlink="/" ng-reflect-router-link="/"
                                href="#/"><img _ngcontent-arf-c2="" alt="" class="hide-logo-header" id="header-logo"
                                    src="assets/logos/logo.png" width="475"></a></div>
                    </div>
                </div>
            </div>

            <div _ngcontent-hdc-c8="" class="row">
                <div _ngcontent-hdc-c8="" class="col-12 mb-4">
                    <div _ngcontent-hdc-c8="" class="ides-card-home ng-star-inserted">
                        <div _ngcontent-hdc-c8="" class="ideas-video"><img _ngcontent-hdc-c8="" class="img-fluid"
                                src="">
                        </div>
                        <div _ngcontent-hdc-c8="" class="ideas-mapa-movil" style="background: #ffffff;">
                            <h2 _ngcontent-hdc-c8="" class="ides-text-yellow home-title">Nuestras ciudades están
                                evolucionando</h2>
                            <h3 _ngcontent-hdc-c8="" class="ides-text-blue home-subtitle">Selecciona una ciudad para
                                compartir tus ideas</h3><img _ngcontent-hdc-c8="" class="img-fluid"
                                src="../../../../../assets/mapa/mapa_movil.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="device != 'mobile'">
            <div class="navbar navbar-expand-xl navbar-light bg-lignt static-top pb-4 pr-md-5 pl-md-5 ides-header">
                <div class="d-sm-block d-md-none">
                    <div class="row">
                        <div class="col-10 col-sm-11"><a class="navbar-brand ml-2 logo-link" routerlink="/"
                                ng-reflect-router-link="/" href="#/"><img alt="" class="hide-logo-header"
                                    id="header-logo" src="assets/logos/logo.png" width="475"></a></div>
                    </div>
                </div><a class="navbar-brand ml-5 logo-link d-none d-sm-none d-md-block" routerlink="/"
                    ng-reflect-router-link="/" href="#/"><img alt="" class="hide-logo-header" id="header-logo"
                        src="assets/logos/logo.png" width="475"></a>
            </div>

            <div class="row pl-md-5 pr-md-5 pt-4">
                <div class="col-12 mb-4">
                    <div class="ides-card-home ng-star-inserted">
                        <div class="ideas-video" style="background: #ffffff;"><img class="img-fluid margin-left: 2em;"
                                src="../../../../../assets/mapa/mapa.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

<router-outlet></router-outlet>
<notifier-container></notifier-container>