<div class="row mx-auto covid-header">
    <div class="covid-header1 ">
        <h3 translate>response_covid</h3>
    </div>
    <div class="covid-header2">
        <a class="text-lg-right text-white cursor-pointer" routerLink="/" translate>response_covid_start</a>

    </div>
</div>

<div class="row pt-5 conti">

    <div class="container container-covid">

        <div class="row p-5">

            <div class="col-lg-6">
                <div class="animate__animated animate__fadeInDown">
                    <h3 class="titulos-covid" translate>evolution_covid</h3>
                </div>


            </div>

            <div class="col-lg-3 col-lx-3 text-right mt-2">

                <p-multiSelect selectedItemsLabel="{0} Ciudades Seleccionadas" class="block" [options]="cantons" [(ngModel)]="selectedCantons" optionLabel="name" [defaultLabel]="'Ciudades'" [showHeader]=true (onChange)="getSelects($event)" name="selectedCantons">
                </p-multiSelect>

            </div>
            <div class=" col-lg-3 col-lx-3 text-right mt-2">
                <p-dropdown class="block" [options]="varibales2" [(ngModel)]="selectVariable" name="selectVariable" optionLabel="name" [placeholder]="'Casos'" (onChange)="getSelectVariable()"></p-dropdown>

            </div>
            <div class="col-lg-12">
                <div class="animate__animated animate__fadeInDown">
                    <p class="subtitulo-covid" translate>evolution_covid_ecuador</p>
                </div>
            </div>

            <div class="col-lg-12 p-3">
                <ng5-slider (userChange)="sliderChange($event)" [(value)]="value" [options]="options">
                </ng5-slider>
            </div>


            <div class=" col-lg-6 col-lx-6">

                <!-- <highcharts-chart [(update)]="updateDemo" [oneToOne]=true [Highcharts]="highcharts" [options]="chartOptions6" style="width: 100%; height: 400px; display: block;" class="highcharts animated fadeIn">
                </highcharts-chart>-->

                <div *ngIf="dataHigcharts && selectVariable">
                    <app-card-basic-graph-covid [dates]="dateString " [data]="dataHigcharts " [variable]="selectVariable">
                    </app-card-basic-graph-covid>
                </div>
                <div *ngIf="selectVariable" class="mt-3">
                    <p class="subtitulo-covid">{{selectVariable.origins[0].name }}</p>
                </div>



            </div>


            <div class="col-lg-6 col-lx-6">
                <!-- <highcharts-chart class="animated fadeIn" [oneToOne]=true id="container" [Highcharts]="highcharts2" [constructorType]="chartConstructor" [options]="chartOptionsMap" [callbackFunction]="chartCallback" [(update)]=updateFromInput [oneToOne]="true" style="width: 100%; height: 400px; display: block;">
                </highcharts-chart>-->
                <div *ngIf="dataMapa && selectVariable">
                    <app-card-basic-map-covid [data]="dataMapa" [variable]="selectVariable"></app-card-basic-map-covid>
                </div>
                <div *ngIf="selectVariable" class="margin-map-orign">
                    <p class="subtitulo-covid">{{selectVariable.origins[0].name }}</p>
                </div>

            </div>


            <div class="col-md-12">
                <!-- <highcharts-chart [oneToOne]=true [Highcharts]="highcharts3" [options]="chartOptionsStreamgraph" style="width: 100%; height: 400px; display: block;" class="highcharts animated fadeIn">
                </highcharts-chart>-->

                <div *ngIf="dataStreamGraphFinal && selectVariable">
                    <app-card-basic-streamgraph [dates]="dateStringAll " [data]="dataStreamGraphFinal" [min]="minStreamgraph " [max]="maxStreamgraph " [variable]="selectVariable">
                    </app-card-basic-streamgraph>
                    <!-- <div class=" text-uppercase ides-text-blue ides-origins">
                        {{selectVariable.origins[0].name }}
                    </div>-->
                    <div *ngIf="selectVariable">
                        <p class="subtitulo-covid">{{selectVariable.origins[0].name }}</p>
                    </div>

                </div>


            </div>
        </div>

    </div>

</div>


<div class="row mb-5">
    <div class="que-hacen-ciudades col-12 mt-5">
        <div class="animate__animated animate__fadeInDown">
            <div class="container">
                <app-card-basic-graph-timeline [minScroll]="minScroll" [maxScroll]="maxScroll">
                </app-card-basic-graph-timeline>
            </div>
            <!--<div class="container hide-scroll text-right">
                .
            </div>-->

            <!-- <button class="btn btn-outline-info" (click)="scrollLeft()">{{'<'}}</button>-->

            <!--  <button class="btn btn-outline-info" (click)="scrollRigt()">{{'>'}}</button>-->
        </div>
    </div>



    <div class="col-md-12 text-center mt-5">
        <div class="container">
            <div class="animate__animated animate__fadeInDown">
                <app-card-basic-news></app-card-basic-news>
            </div>
        </div>
    </div>

    <!-- <div class="container">
        <div class="row">
            <div class="col-lx-6 ">
                <h5>COMENTAR</h5>
                <div class="input-group mb-3">

                    <input type="text" class="form-control" placeholder="Nombre" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">

                    <input type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">

                    <textarea class="form-control" placeholder="Comentar"></textarea>

                </div>
                <div class=" text-center">


                    <button class="btn-covid">Enviar</button>
                </div>

            </div>

            <div class="col-lx-6">
                <h3>Componente de los comentarios</h3>
            </div>

        </div>.
    </div>-->

</div>