<div class="row  covid-header">
    <div class="covid-header1 ">
        <h3 translate>response_covid</h3>
        <!-- <div *ngIf="returnValue | async as name ">

            <h4>{{name}}</h4>

        </div>-->
    </div>
    <div class="covid-header2">

        <div class="row">

            <div class="col-md-12 text-lg-right">
                <a class=" ides-text-white cursor-pointer" routerLink="/" translate>home_city</a>
            </div>


        </div>


    </div>
</div>

<div class="row conti mt-5">

    <div class="que-hacen-ciudades col-12">
        <div class="animate__animated animate__fadeInDown">
            <div class="container">
                <app-card-basic-graph-timeline [minScroll]="minScroll" [maxScroll]="maxScroll">
                </app-card-basic-graph-timeline>
            </div>
            <!--<div class="container hide-scroll text-right">
                .
            </div>-->

            <!-- <button class="btn btn-outline-info" (click)="scrollLeft()">{{'<'}}</button>-->

            <!--  <button class="btn btn-outline-info" (click)="scrollRigt()">{{'>'}}</button>-->
        </div>
    </div>


</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 text-center align-self-center mt-5 mb-5 p-0 ">
            <h3 class="titulos-covid" translate>evolution_covid</h3>
        </div>
    </div>
</div>
<div class="container">


    <div class="row  ides-card p-5">


        <div class="col-12 col-md-auto  text-center text-md-left">

            <p-multiSelect #multiselect [showToggleAll]="false" [resetFilterOnHide]="true" selectedItemsLabel="{{'cities_selected'|translate}}" class="block" [options]="cantons" [(ngModel)]="selectedCantons" optionLabel="name" [defaultLabel]="'Ciudades'" (onChange)="getSelects($event)"
                name="selectedCantons">
                <!-- <p-header>

                        <div class="d-inline-block position-static mr-2 mt-2">
                            <span (click)="functionToClear()" class="pi pi-undo "></span>

                        </div>


                    </p-header>-->
            </p-multiSelect>

        </div>
        <div class=" col-12 col-md-auto text-center text-md-left mt-3 mt-md-0">


            <p-dropdown [autoDisplayFirst]="false" class="block" [options]="varibales2" [(ngModel)]="selectVariable" name="selectVariable" optionLabel="name" [placeholder]="'Casos'" (onChange)="getSelectVariable()">
            </p-dropdown>

            <!--<p-dropdown *ngIf="values.length>0" [autoDisplayFirst]="false" class="block" [options]="values" [(ngModel)]="selectVariable" name="selectVariable" optionLabel="name" [placeholder]="'Casos'" (onChange)="getSelectVariable()">
                </p-dropdown>-->

        </div>
        <div class="col-12 ides-text-blue mt-4">
            <h2 class="submenu-tematic ">{{ selectVariable?.name }}</h2>
        </div>

        <div class="col-md-12 ides-thematic-description ">
            <p class="text-justify">{{ selectVariable?.description}}</p>
        </div>

        <div class="col-md-12 p-3">
            <ng5-slider (userChange)="sliderChange($event)" [(value)]="value" [options]="options">
            </ng5-slider>
        </div>


        <div *ngIf="dataHigcharts.length===0 && dataMapa.length===0 && dataStreamGraphFinal.length===0" class="col-md-12 alert alert-primary">

            <div class="container">
                <div class="row">
                    <div class="col-auto">
                        <i class="pi pi-spin pi-spinner" style="font-size: 2em"></i>

                    </div>

                    <div class="col-auto align-self-center">
                        <span translate>loadCovid</span>

                    </div>
                </div>
            </div>




        </div>


        <div class=" col-md-6 col-12" *ngIf="dataHigcharts.length>0">



            <app-card-basic-graph-covid [dates]="dateString " [data]="dataHigcharts " [variable]="selectVariable">
            </app-card-basic-graph-covid>




        </div>


        <div class="col-md-6 col-12" *ngIf=" dataMapa.length>0 ">

            <app-card-basic-map-covid [data]="dataMapa" [variable]="selectVariable"></app-card-basic-map-covid>


        </div>


        <div class="col-md-12" *ngIf="dataStreamGraphFinal.length>0">


            <app-card-basic-streamgraph [dates]="dateStringAll " [data]="dataStreamGraphFinal" [variable]="selectVariable" [maxExport]="maxExport">
            </app-card-basic-streamgraph>





        </div>

        <div class="col-12  ">



            <app-ides-origin [origins]="selectVariable?.origins"></app-ides-origin>


        </div>




    </div>

</div>



<div class="row">




    <div class="col-md-12 mt-5 text-center">
        <div class="container">
            <app-card-basic-news></app-card-basic-news>
        </div>
    </div>



    <div class="col-md-12 que-hacen-ciudades mt-4 mb-5 text-center">
        <div class="container">
            <app-ides-videos></app-ides-videos>

        </div>


    </div>

    <!-- <div class="container">
        <div class="row">
            <div class="col-lx-6 ">
                <h5>COMENTAR</h5>
                <div class="input-group mb-3">

                    <input type="text" class="form-control" placeholder="Nombre" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">

                    <input type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">

                    <textarea class="form-control" placeholder="Comentar"></textarea>

                </div>
                <div class=" text-center">


                    <button class="btn-covid">Enviar</button>
                </div>

            </div>

            <div class="col-lx-6">
                <h3>Componente de los comentarios</h3>
            </div>

        </div>.
    </div>-->

</div>