<div class="row">
    <div class="col-12 bg-dark header-nav">
        <p>covid works!</p>

    </div>

</div>
<div class="row">
    <div class="col-12">
        <h2 class="text-center">Lorem Ipsum</h2>
        <h4 class="text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quam dolorem non aliquid, dolore deserunt consequuntur! Eaque et fugit quaerat consequuntur sunt rem laboriosam animi eveniet. Eius ea debitis ipsa.
        </h4>
    </div>
    <div class="col-12 text-center d-flex flex-row justify-content-center align-items-center">
        <div class=" col-2 mb-3">
            <select class="select-covid" id="inputGroupSelect01">
                <option class="select-covid-box" selected>Choose...</option>
                <option class="select-covid-box" value="1">One</option>
                <option class="select-covid-box" value="2">Two</option>
                <option class="select-covid-box" value="3">Three</option>
            </select>
        </div>



    </div>

    <div class="col-12">
        <p>Componente del mapa</p>
    </div>
</div>



<div class="row">

    <div class="col-12 text-center d-flex flex-row justify-content-center align-items-center">
        <div class=" col-2 mb-3">
            <select class="select-covid" id="inputGroupSelect01">
                <option class="select-covid-box" selected>Choose...</option>
                <option class="select-covid-box" value="1">One</option>
                <option class="select-covid-box" value="2">Two</option>
                <option class="select-covid-box" value="3">Three</option>
            </select>
        </div>

        <div class=" col-2 mb-3">
            <select class="select-covid" id="inputGroupSelect01">
                <option class="select-covid-box" selected>Choose...</option>
                <option class="select-covid-box" value="1">One</option>
                <option class="select-covid-box" value="2">Two</option>
                <option class="select-covid-box" value="3">Three</option>
            </select>
        </div>

    </div>

    <div class="col-12">
        <h1>Componentes de las graficas</h1>
    </div>




</div>

<div class="row mb-5">
    <div class="col-12">

        <h3 class="text-center">
            Que hacen las ciudades para enfrentar el covid-19

        </h3>
    </div>

    <div class="col-12">
        <p>Componentes de noticias</p>
    </div>

    <div class="row">
        <div class="col-6 ">
            <h5>COMENTAR</h5>
            <div class="input-group mb-3">

                <input type="text" class="form-control" placeholder="Nombre" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">

                <input type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">

                <textarea class="form-control" placeholder="Comentar"></textarea>

            </div>
            <div class=" text-center">


                <button class="btn-covid">Enviar</button>
            </div>
        </div>

        <div class="col-6">
            <h1>componente de los comentarios</h1>
        </div>

        .
    </div>

</div>