@media screen and (max-width: 991px) {
    .canvas-index-width {
        width: 100% !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .canvas-index-width {
        width: 60% !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1499.98px) {
    .canvas-index-width {
        width: 60% !important;
    }
}

@media screen and (min-width: 1500px) {
    .canvas-index-width {
        width: 50% !important;
    }
}

p.subtitulo {
    margin-top: 5px;
    font: 16px "Roboto", sans-serif;
    color: #9195a4;
    line-height: 22px;
    margin-top: 0px;
    text-align: center;
}

h2.subtitulo {
    font: 32px "Roboto", sans-serif !important;
    padding-top: 0.5em !important;
    color: #24355a;
    font-weight: bold !important;
    line-height: 40px;
    margin-bottom: -10px;
    margin-top: -10px;
}

//PRIMENG
//multiselect
:host ::ng-deep.ui-multiselect {
    border-radius: 14px;
    background: white;
    border-color: rgba(6, 76, 195, 1);
    width: 12rem;
}

:host::ng-deep.ui-multiselect .ui-multiselect-trigger {
    border-radius: 14px;
    background: #ffffff00;
    color: #064cc3;
}

:host::ng-deep.ui-multiselect .ui-multiselect-label {
    color: rgba(6, 76, 195, 1);
}

:host::ng-deep.ui-multiselect .ui-multiselect-panel {
    background-color: white;
    border-radius: 14px;
}

:host::ng-deep.ui-multiselect .ui-multiselect-panel .ui-widget-header .ui-chkbox {
    display: none !important;
    background-color: red;
    color: red;
}

//table
:host::ng-deep.ui-table .ui-table-tbody>tr>td {
    background: #124ca6;
    color: white;
    border: none;
}

:host::ng-deep.ui-table .ui-table-thead>tr>th {
    background: #124ca6;
    color: white;
    border: none;
    display: none;
}

//treetable
:host::ng-deep.ui-treetable .ui-treetable-tbody>tr>td {
    padding: 0;
}

//ui-dialog ui-widget ui-widget-content ui-corner-all ui-shadow ui-dialog-draggable ui-dialog-resizable
//dialog
:host::ng-deep.ui-dialog .ui-dialog-content {
    background: #124ca6;
    opacity: 0.9;
    overflow: unset;
}

:host::ng-deep.ui-dialog .ui-dialog-titlebar {
    background: #124ca6;
    opacity: 0.9;
    overflow: unset;
}

:host::ng-deep.ui-dialog-mask {
    top: 40px;
}

:host::ng-deep.ui-dialog .ui-dialog-title {
    color: white;
}

:host::ng-deep.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon span {
    color: white;
}

:host::ng-deep.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon span:hover {
    color: #F8A901;
}

@media screen and (max-width: 40rem) {
     :host ::ng-deep {
        .p-datatable {
            &.p-datatable-responsive-demo {
                .p-datatable-thead>tr>th,
                .p-datatable-tfoot>tr>td {
                    display: none !important;
                }
                .p-datatable-tbody>tr>td {
                    text-align: left;
                    display: block;
                    width: 100%;
                    float: left;
                    clear: left;
                    border: 0 none;
                    .p-column-title {
                        padding: .4rem;
                        min-width: 30%;
                        display: inline-block;
                        margin: -.4em 1em -.4em -.4rem;
                        font-weight: bold;
                    }
                    &:last-child {
                        border-bottom: 1px solid var(--surface-d);
                    }
                }
            }
        }
    }
}

:host ::ng-deep .priority-2,
 :host ::ng-deep .priority-3,
 :host ::ng-deep .visibility-sm {
    display: none;
}

@media screen and (max-width: 39.938em) {
     :host ::ng-deep .visibility-sm {
        display: inline;
    }
}

@media screen and (min-width: 40em) {
     :host ::ng-deep .priority-2 {
        display: table-cell;
    }
}

@media screen and (min-width: 64em) {
     :host ::ng-deep .priority-3 {
        display: table-cell;
    }
}

h2.titulo {
    font: 32px "Roboto", sans-serif !important;
    padding-top: 0.5em !important;
    color: #24355a;
    font-weight: bold !important;
    line-height: 40px;
    margin-bottom: -10px;
    margin-top: -10px;
}

p.subtitulo {
    font: 32px "Roboto", sans-serif !important;
    padding-top: 0.5em !important;
    color: #24355a;
    font-weight: bold !important;
    line-height: 40px;
    margin-bottom: -10px;
    margin-top: -10px;
}

.social-facebook {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url(../../../assets/social-media/facebook.svg);
}

.social-twitter {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url(../../../assets/social-media/twitter.svg);
}

.green {
    background-color: green !important;
    color: green !important;
    border-radius: 10px;
}

.green-variable {
    color: white !important;
    background-color: green !important;
    border-radius: 10px;
    padding: 7px;
}

.yellow {
    background-color: yellow !important;
    color: yellow !important;
    border-radius: 10px;
}

.yellow-variable {
    background-color: yellow !important;
    border-radius: 10px;
    color: black !important;
    padding: 5px;
}

.red {
    background-color: red!important;
    color: red !important;
    border-radius: 10px;
}

.red-variable {
    background-color: red!important;
    color: white !important;
    border-radius: 10px;
    padding: 5px;
}

.table-cell {
    font-size: .9em;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

.icon-info:hover {
    color: #F8A901;
}

.excel:hover {
    border-bottom: 1px solid #124ca6;
}

.excel {
    color: #124ca6;
}