<div class="col-12 mb-4">
    <div class="row">

        <!-- <div [ngClass]="columnaDownload" class="col-12 text-right">
            <app-ides-download [data]="radarChartData" [titleExport]="'Índices'" [hiddenCSV]="true" [idElement]="'indexesGraph'" [nameFile]="'indices_ideas_urbanas'"></app-ides-download>
        </div>

       <div class="canvas-index-width" [ngClass]="{ 'col-12': !marginAuto }" [ngStyle]="{ 'margin': marginAuto ? 'auto' : '' }" *ngIf="radarChartData.length > 0">
            <canvas id="indexesGraph" baseChart width="1200" [datasets]="radarChartData" [options]="radarChartOptions" [labels]="radarChartLabels" [chartType]="radarChartType" [ngClass]="radarChartData.length > 10 ? 'chart-index-size-plus' : 'chart-index-size'">
            </canvas>
        </div>-->

        <div class="col-md-12">
            <highcharts-chart id="grafica" [(update)]="updateDemo" [oneToOne]=true [Highcharts]="highcharts" [options]="chartOptions" style="width: 100%; height: 380px; display: block; margin-top: 13px;">
            </highcharts-chart>
        </div>
        <div class="container ">

            <div class="row justify-content-md-center">


                <div [ngClass]="marginSocial" class="col-md-1 col-1 share mt-lg-1">
                    <span class="ides-text-blue" translate>share</span>
                </div>

                <div class="ml-1 share-social" *ngFor="let item of socialMedia">

                    <a class="cursor-pointer" (click)="sharedImage(item)">
                        <i [ngClass]="item.img"></i>
                    </a>

                    <!--   <div class="col-md-6 col-lx-6 mt-1">
                                    <span>{{item.name}}</span>
                                    </div>-->
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <p-table [columns]="cols" [value]="dataTable" dataKey="id" [responsive]="true" rowExpandMode="single">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 3em">Ind</th>
                        <th *ngFor="let col of columns">
                            <span translate>{{col.header}}</span>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
                    <tr>
                        <td>
                            <a href="#" pRipple [pRowToggler]="rowData">
                                <i [ngClass]="expanded ? 'pi pi-fw pi-chevron-circle-down' : 'pi pi-fw pi-chevron-circle-right'"></i>
                            </a>
                        </td>
                        <td *ngFor="let col of columns; let i=index">
                            <span class="ui-column-title">{{col.header}}</span>
                            <img *ngIf="i===0" alt="" src="assets/ICONOS/{{rowData[col.field].name}}-AZUL.png" width="32" style="vertical-align: middle" />
                            <span *ngIf="i===0" class="p-ml-1"> {{rowData[col.field].name}}</span>
                            <span *ngIf="i!==0" class="p-ml-1"> {{rowData[col.field]}}</span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                    <tr>
                        <td [attr.colspan]="columns.length+1">
                            <div class="p-grid ui-fluid" style="font-size:16px;padding:20px" [@rowExpansionTrigger]="'active'">
                                <p-table [columns]="subcols" [responsive]="true" [value]="rowData.variable.indicators" dataKey="indicator">
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th *ngFor="let col of columns">
                                                <span translate>{{col.header}}</span>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                                        <tr>
                                            <td *ngFor="let col of columns">
                                                <span class="ui-column-title">{{col.header}}</span> {{rowData[col.field]}}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>

                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>



        <!---      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col" style="width: 100%; float: right;">

                <app-ides-social-media *ngIf="imageBase64" [imageBase64]="imageBase64"></app-ides-social-media>
                <app-ides-download [origins]="variableSelected?.origins" [titleExport]="variableSelected?.name" (downloadCSV)="onDownloadCSV($event)" [idElement]="variableSelected?._id" [nameFile]="variableSelected?.name + '_' + value + '_' + highValue + '_ideas_urbanas'">
            </app-ides-download>
            </div>

        </div>-->
    </div>
</div>