@media screen and (max-width: 991px) {
    .canvas-index-width {
        width: 100% !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .canvas-index-width {
        width: 60% !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1499.98px) {
    .canvas-index-width {
        width: 60% !important;
    }
}

@media screen and (min-width: 1500px) {
    .canvas-index-width {
        width: 50% !important;
    }
}

p.subtitulo {
    margin-top: 5px;
    font: 16px "Roboto", sans-serif;
    color: #9195a4;
    line-height: 22px;
    margin-top: 0px;
    text-align: center;
}

h2.subtitulo {
    font: 32px "Roboto", sans-serif !important;
    padding-top: 0.5em !important;
    color: #24355a;
    font-weight: bold !important;
    line-height: 40px;
    margin-bottom: -10px;
    margin-top: -10px;
}

//PRIMENG
//multiselect
:host ::ng-deep.ui-multiselect {
    border-radius: 14px;
    background: white;
    border-color: rgba(6, 76, 195, 1);
    width: 12rem;
}

:host::ng-deep.ui-multiselect .ui-multiselect-trigger {
    border-radius: 14px;
    background: #ffffff00;
    color: #064cc3;
}

:host::ng-deep.ui-multiselect .ui-multiselect-label {
    color: rgba(6, 76, 195, 1);
}

:host::ng-deep.ui-multiselect .ui-multiselect-panel {
    background-color: white;
    border-radius: 14px;
}

:host::ng-deep.ui-multiselect .ui-multiselect-panel .ui-widget-header .ui-chkbox {
    display: none !important;
    background-color: red;
    color: red;
}

//table
:host ::ng-deep {
    .p-datatable-responsive-demo .p-datatable-tbody>tr>td .p-column-title {
        display: none;
    }
}

@media screen and (max-width: 40rem) {
     :host ::ng-deep {
        .p-datatable {
            &.p-datatable-responsive-demo {
                .p-datatable-thead>tr>th,
                .p-datatable-tfoot>tr>td {
                    display: none !important;
                }
                .p-datatable-tbody>tr>td {
                    text-align: left;
                    display: block;
                    width: 100%;
                    float: left;
                    clear: left;
                    border: 0 none;
                    .p-column-title {
                        padding: .4rem;
                        min-width: 30%;
                        display: inline-block;
                        margin: -.4em 1em -.4em -.4rem;
                        font-weight: bold;
                    }
                    &:last-child {
                        border-bottom: 1px solid var(--surface-d);
                    }
                }
            }
        }
    }
}

h2.titulo {
    font: 32px "Roboto", sans-serif !important;
    padding-top: 0.5em !important;
    color: #24355a;
    font-weight: bold !important;
    line-height: 40px;
    margin-bottom: -10px;
    margin-top: -10px;
}

p.subtitulo {
    font: 32px "Roboto", sans-serif !important;
    padding-top: 0.5em !important;
    color: #24355a;
    font-weight: bold !important;
    line-height: 40px;
    margin-bottom: -10px;
    margin-top: -10px;
}

.social-facebook {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url(../../../assets/social-media/facebook.svg);
}

.social-twitter {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url(../../../assets/social-media/twitter.svg);
}