.covid-header {
    margin-top: 2px;
    background: #189cff;
    background: linear-gradient(78deg, #2194fd 0%, #0b6df5 100%);
    color: white;
    display: flex;
    align-items: center;
    padding-top: 1.6em;
}

.covid-header1 {
    width: 50%;
    text-align: left;
    padding-left: 3%;
}

.covid-header2 {
    width: 50%;
    text-align: right;
    padding-right: 3%;
}

.mt-5,
.my-5 {
    margin-top: 1rem!important;
    MARGIN-BOTTOM: 1EM;
}

p {
    font: 15px "Karla", sans-serif;
    color: #787878;
    margin-top: 0;
    line-height: 1.4;
}

a.card-title {
    color: #0e78f7;
    font-size: 22px;
}

h2.titulos-cities {
    font: 32px "Roboto", sans-serif !important;
    padding-top: 0.5em !important;
    color: #24355a;
    font-weight: bold !important;
    line-height: 40px;
}

//primeng
//dropdown
:host ::ng-deep.ui-dropdown {
    border-radius: 14px;
    background: white;
    border-color: rgba(6, 76, 195, 1);
    width: 11rem;
}

:host ::ng-deep.ui-dropdown-label {
    color: rgba(6, 76, 195, 1);
    border-color: rgba(6, 76, 195, 1);
    border-radius: 14px;
    width: 10rem;
}

:host ::ng-deep.ui-dropdown .ui-dropdown-trigger {
    border-radius: 14px;
    color: rgba(6, 76, 195, 1);
    border-color: rgba(6, 76, 195, 1);
}

:host ::ng-deep.ui-dropdown .ui-dropdown-panel {
    background-color: white;
    border-radius: 14px;
    border-color: rgba(6, 76, 195, 1);
}

//multiselect
:host ::ng-deep.ui-multiselect {
    border-radius: 14px;
    background: white;
    border-color: rgba(6, 76, 195, 1);
    width: 11rem;
}

:host::ng-deep.ui-multiselect .ui-multiselect-trigger {
    border-radius: 14px;
    background: none;
    color: rgba(6, 76, 195, 1);
}

:host::ng-deep.ui-multiselect .ui-multiselect-label {
    color: rgba(6, 76, 195, 1);
    padding-left: 1em;
}

:host::ng-deep.ui-multiselect .ui-multiselect-panel {
    background-color: white;
    border-radius: 14px;
    width: 11rem;
    padding-left: 1em;
}

:host::ng-deep.ui-multiselect .ui-multiselect-panel .ui-widget-header .ui-chkbox {
    display: none !important;
    background-color: red;
    color: red;
}

p.subtitulo2 {
    margin-top: 5px;
    font: 16px "Roboto", sans-serif;
    color: #9195a4;
    line-height: 22px;
    margin-top: 20px;
    text-align: center !important;
}

h2.subtitulo {
    font: 32px "Roboto", sans-serif !important;
    padding-top: 0.5em !important;
    color: #24355a;
    font-weight: bold !important;
    line-height: 40px;
    margin-bottom: -10px;
    margin-top: -10px;
    text-align: center;
}