<p-galleria [(value)]="images" [(visible)]="displayCustom" [(activeIndex)]="activeIndex" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '850px'}" [numVisible]="7" [circular]="true" [fullScreen]="true" [showItemNavigators]="true"
    [showThumbnails]="false" [baseZIndex]="100000">
    <ng-template pTemplate="item" let-item>
        <img [src]="item.previewImage" style="width: 600px; height:600px; display: block;" />
    </ng-template>

</p-galleria>



<p-carousel [value]="images " [numVisible]="3" [responsiveOptions]="responsiveOptions" [circular]="true">

    <ng-template let-item pTemplate="item">
        <div class="card mr-2 mb-2 cursor-pointer  containe">
            <div class="row justify-content-center">
                <img [src]="item.tumbnailImage" style="width: 290px;height:290px;" alt="..." />
                <div class="overlay">
                    <div class="icon">
                        <img (click)="imageClick(item.index)" style="width:60px; height:60px;" src="assets/ICONOS/ampliar2.png " alt=" ">
                    </div>
                </div>
                <div class=" card-body text-center ">
                    <h4 class="card-title ides-text-blue ">{{item.text}}</h4>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>