.Ambato {
    background: transparent url(../../../../../assets/cities/AMBATO.jpg) 50% 0% no-repeat padding-box;
    opacity: 1;
    height: 100%;
}

.Ibarra {
    background: transparent url(../../../../../assets/cities/IBARRA.jpg) 50% 0% no-repeat padding-box;
    opacity: 1;
    height: 100%;
}

.Manta {
    background: transparent url(../../../../../assets/cities/MANTA.jpg) 50% 0% no-repeat padding-box;
    opacity: 1;
    height: 100%;
}

.Orellana {
    background: transparent url(../../../../../assets/cities/ORELLANA.jpg) 50% 0% no-repeat padding-box;
    opacity: 1;
    height: 100%;
}

.Portoviejo {
    background: transparent url(../../../../../assets/cities/PORTOVIEJO.jpg) 50% 0% no-repeat padding-box;
    opacity: 1;
    height: 100%;
}

.Riobamba {
    background: transparent url(../../../../../assets/cities/RIOBAMBA.jpg) 50% 0% no-repeat padding-box;
    opacity: 1;
    height: 100%;
}

.header-city {
    height: 900px;
    margin-left: -85px !important;
    margin-right: -85px !important;
    background-size: cover;
}

.ides-text-white {
    color: #FFFFFF !important;
}

.ides-text-white>a {
    color: #FFFFFF !important;
    text-decoration: underline;
    ;
}

.city-shield {
    width: 220px;
    height: 220px;
}

.city-img {
    height: 65px;
}

.activity {
    font: 16px/30px 'Noto Sans TC' !important;
}

.activity-value {
    font: 20px/33px 'Noto Sans TC' !important;
}

.activity-value>span {
    font: 14px/20px 'Noto Sans TC' !important;
}


/* moviles vertical*/

@media screen and (max-width: 575px) {
    .ides-card-city {
        margin-top: 1.5em !important;
    }
    .header-city {
        height: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
        background-size: cover;
    }
    .city-backgroud {
        position: relative !important;
        padding-left: 0 !important;
        z-index: 1 !important;
    }
    .index-city {
        position: relative !important;
    }
    .header-city-logo {
        display: none !important;
    }
    .research-img {
        height: 2.5em;
        width: 3em;
        margin-bottom: 5px;
    }
    .city-img {
        height: 45px;
    }
    .activity {
        font: 10px 'Noto Sans TC' !important;
    }
    .activity-value {
        font: 10px 'Noto Sans TC' !important;
    }
    .ides-city-p {
        padding: 0 1em !important;
        margin-right: -50px !important;
    }
    .ides-city-details {
        background-color: rgba(0, 0, 0, 0.3) !important;
        margin: 0 !important;
    }
    .city-ides-subtitle {
        font: 18px "Noto Sans TC" !important;
    }
    .city-resume {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .city-activities {
        padding-left: 1em !important;
    }
}


/* moviles horizontal*/

@media screen and (min-width: 576px) and (max-width: 767px) {
    .header-city {
        height: 100%;
        margin-left: -35px !important;
        margin-right: -35px !important;
        background-size: cover;
    }
    .city-backgroud {
        z-index: 1 !important;
    }
}


/* tabletas */

@media screen and (min-width: 768px) and (max-width: 991px) {
    .ides-card-city {
        margin-top: 2em !important;
    }
    .header-city {
        height: 100%;
        margin-left: 0.1em !important;
        margin-right: 0px !important;
        background-size: cover;
    }
    .city-backgroud {
        position: relative !important;
        padding-left: 0 !important;
        z-index: 1 !important;
    }
    .index-city {
        position: relative !important;
    }
    .header-city-logo {
        display: none !important;
    }
    .research-img {
        height: 2.5em;
        width: 3em;
        margin-top: 5.5em;
    }
    .ides-city-p {
        padding: 0 !important;
        margin-right: -43px !important;
    }
    .ides-city-details {
        background-color: rgba(0, 0, 0, 0.3) !important;
        margin: 0 1em !important;
    }
}


/* normal */

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .ides-card-city {
        margin-top: 2em !important;
    }
    .header-city {
        height: 100%;
        margin-left: 0px !important;
        margin-right: 0px !important;
        background-size: cover;
    }
    .city-backgroud {
        position: relative !important;
        padding-left: 0 !important;
        z-index: 1 !important;
    }
    .index-city {
        position: relative !important;
    }
    .header-city-logo {
        display: none !important;
    }
    .research-img {
        height: 3em;
        width: 3.5em;
        margin-top: 3.5em;
    }
    .ides-city-p {
        padding: 0 !important;
        margin-right: -65px !important;
    }
    .ides-city-details {
        background-color: rgba(0, 0, 0, 0.3) !important;
        margin: 0 1em !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1280px) {
    .ides-card-city {
        margin-top: 0 !important;
    }
    .header-city {
        height: 760px;
        margin-left: 0px !important;
        margin-right: 0px !important;
        background-size: cover;
    }
    .city-backgroud {
        position: relative !important;
        padding-left: 0 !important;
        z-index: 1 !important;
        height: min-content !important;
    }
    .index-city {
        position: relative !important;
        height: 760px !important;
    }
    .header-city-logo {
        display: none !important;
    }
    .research-img {
        height: 3em;
        width: 3.5em;
        margin-top: 3.5em;
    }
    .ides-city-p {
        padding: 0 !important;
        margin-right: -35px !important;
    }
    .ides-city-details {
        background-color: rgba(0, 0, 0, 0.3) !important;
        margin: 0 1em !important;
    }
}


/* pantallas grandes */

@media screen and (min-width: 1281px) and (max-width: 1499.98px) {
    body {
        font-size: 17px;
    }
    .header-city {
        height: 840px;
        margin-left: -85px !important;
        margin-right: -85px !important;
        background-size: cover;
    }
    .index-city {
        height: 840px !important;
    }
}

@media screen and (min-width: 1500px) and (max-width: 1599.98px) {
    body {
        font-size: 17px;
    }
    .header-city {
        height: 830px;
        margin-left: -85px !important;
        margin-right: -85px !important;
        background-size: cover;
    }
    .index-city {
        height: 820px !important;
    }
}

@media screen and (min-width: 1600px) {
    body {
        font-size: 17px;
    }
    .header-city {
        height: 930px;
        margin-left: -85px !important;
        margin-right: -85px !important;
        background-size: cover;
    }
    .index-city {
        height: 930px !important;
    }
}

.city-backgroud {
    position: absolute;
    top: 0;
    padding-right: 0 !important;
    background-size: cover;
    height: auto;
    z-index: 9998;
}

.header-city-logo {
    height: 120px;
    background: transparent linear-gradient(125deg, #FFFFFF 0%, #FFFFFF 42%, #FFFFFF 100%) 0% 0% no-repeat padding-box !important;
    opacity: 0.8;
}

.index-city {
    position: absolute;
    right: 0;
}

.ides-height-85 {
    height: 100;
}

.ides-nube {
    background: transparent linear-gradient(327deg, #076DCDF2 0%, #001F99 47%, #043767CC 100%) 0% 0% no-repeat padding-box !important;
    opacity: 0.8;
}

.ides-city-details {
    background-color: rgba(0, 0, 0, 0.3) !important;
    margin: 1em 2em;
    /*border: 1px solid #707070;*/
}

p.indicators {
    font: 10px/20px 'Noto Sans TC' !important;
    margin-bottom: -10px !important;
}

span.indicators {
    font: 8px/15px 'Noto Sans TC' !important;
    color: #BFBFBF;
}

.ides-city-p {
    padding: 1.5em 5em;
}

.ides-pt-5 {
    padding-top: 4.5rem !important;
}

.cloud-background-city {
    background: transparent url(../../../../../assets/nube/nube-ciudades-1.png) 50% 50% no-repeat padding-box;
    height: 100%;
    background-size: cover;
}

.tag-cloud-city {
    margin-top: 4rem !important;
}

.city-index>div>div>div.ng-star-inserted {
    height: 685px !important;
}

.contienetodo2 {
    padding: 100px 0 0px 0;
    background-color: #fff;
    // background: url(assets/covid/bg/bg.png);
    background-size: cover;
}

.ui-multiselect .ui-multiselect-trigger {
    border-radius: 14px;
    background: #ffffff00;
    color: #064cc3;
}

h2.titulos-covid {
    font: 32px "Roboto", sans-serif !important;
    padding-top: 0.5em !important;
    color: #24355a;
    font-weight: bold !important;
    line-height: 40px;
}

p.subtitulo-covid {
    margin-top: 5px;
    font: 16px "Roboto", sans-serif;
    color: #9195a4;
    line-height: 22px;
}

.ui-multiselect .ui-multiselect-label {
    color: #064cc3;
    margin-left: 10PX;
}

.ui-dropdown-label {
    background-color: #F5A700;
    border-color: #F5A700;
    border-radius: 15px;
    color: white;
    margin-left: 20PX;
}

@media (min-width: 360px) {
    h2.titulos-covid {
        font: 32px "Roboto", sans-serif !important;
        padding-top: 0.5em !important;
        color: #24355a;
        font-weight: bold !important;
        line-height: 40px;
        margin-bottom: 10px;
    }
}

@media (min-width: 360px) {
    p.subtitulo-covid {
        margin-top: 5px;
        font: 16px "Roboto", sans-serif;
        color: #9195a4;
        line-height: 22px;
        margin-top: 20px;
    }
}

@media (min-width: 980px) {
    h2.titulos-covid {
        font: 32px "Roboto", sans-serif !important;
        padding-top: 0.5em !important;
        color: #24355a;
        font-weight: bold !important;
        line-height: 40px;
        margin-bottom: 15px;
    }
}

@media (min-width: 980px) {
    p.subtitulo-covid {
        margin-top: 5px;
        font: 16px "Roboto", sans-serif;
        color: #9195a4;
        line-height: 22px;
        margin-top: 0px;
    }
}

.covid-header {
    margin-top: 2px;
    background: #189cff;
    background: linear-gradient(78deg, #2194fd 0%, #0b6df5 100%);
    color: white;
    display: flex;
    align-items: center;
    padding-top: 1.6em;
}

.covid-header1 {
    width: 50%;
    text-align: left;
    padding-left: 3%;
}

.covid-header2 {
    width: 50%;
    text-align: right;
    padding-right: 3%;
}

p.subtitulo {
    margin-top: 5px;
    font: 16px "Roboto", sans-serif;
    color: #9195a4;
    line-height: 22px;
    margin-top: 0px;
    text-align: center;
}

h2.subtitulo {
    font: 30px "Roboto", sans-serif !important;
    padding-top: 0.5em !important;
    color: #24355a;
    font-weight: bold !important;
    line-height: 40px;
    margin-bottom: -10px;
    margin-top: -10px;
}

.ui-carousel-container {
    display: flex;
    flex-direction: row;
    padding: 0 .1em;
    margin-top: 30px;
}

h3.titulos-covid {
    padding-bottom: 5px;
    margin-top: 30px;
    font: 29px "Roboto", sans-serif !important;
    color: #24355a;
    font-weight: bold !important;
}

.ui-dropdown-label {
    background-color: #F5A700;
    border-color: #F5A700;
    border-radius: 15px;
    color: white;
    padding-left: 15px;
}

.ui-multiselect .ui-multiselect-label {
    color: #064cc3;
    padding-left: 1em;
}

.fondo-blanco {
    background-color: #fff;
    width: 50%;
    text-align: center;
}

.fondo2-gris {
    background-color: #f1f2f6;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cuadro-grafico-ciudades {
    background-color: #fff;
    background: #fff;
    overflow: hidden;
    -moz-border-radius: 27px 27px 27px 27px;
    -webkit-border-radius: 27px 27px 27px 27px;
    box-shadow: 0px 0px 49px -7px #c7c7cf;
    padding: 2%;
    margin: 0% 4% 0% 4%;
}


.contiene-ciuades-todo {
    display: flex;
    margin: 0 auto;
    padding: 0px;
    background-color: #f1f2f6;
    margin: 0 auto;
}

.botones-interior {
    max-width: 1500px;
    margin: 0 auto;
}

.botones {
    background-color: #fff;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 20px;
}

.botones3 {
    display: flex;
    margin: 0 auto;
    text-align: center;
    padding-left: 40px;
}

.cuadro-grafico {
    background-color: #fff;
}

button#dropdownMenuButton {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #007ad9;
}

.fondito-azul {
    min-width: 300px;
    max-width: 500px;
    margin: 0 auto;
    padding: 7%;
    background-color: azure;
    background: rgb(15, 144, 246);
    background: linear-gradient(78deg, rgba(15, 144, 246, 1) 0%, rgba(4, 107, 245, 1) 100%);
}

.cuadro-grafico-ciudades {
    background-color: #fff;
    background: #fff;
    overflow: hidden;
    -moz-border-radius: 27px 27px 27px 27px;
    -webkit-border-radius: 27px 27px 27px 27px;
    box-shadow: 0px 0px 49px -7px #c7c7cf;
    padding: 2%;
}

//dropdown
:host ::ng-deep.ui-dropdown {
    border-radius: 14px;
    background: white;
    border-color: #064cc3;
    width: 12rem;
}

:host ::ng-deep.ui-dropdown:hover {
    border-radius: 14px;
    background: white;
    border-color: #064cc3;
    width: 12rem;
}

:host ::ng-deep.ui-dropdown-clearable {
    background-color: rgba(6, 76, 195, 1);
    border-color: rgba(6, 76, 195, 1);
    border-radius: 15px
}

:host ::ng-deep.ui-dropdown-label {
    background-color: #ffffff00;
    border-color: #064cc3;
    /* border-radius: 15px; */
    color: #064cc3;
    width: 10rem;
}

:host ::ng-deep.ui-dropdown .ui-dropdown-trigger {
    background-color: #ffffff00;
    border-color: #064cc3;
    border-radius: 15px;
    color: #064cc3;
}

:host ::ng-deep.ui-dropdown .ui-dropdown-panel {
    background-color: white;
    border-radius: 14px;
}

//button world cloud
:host ::ng-deep.ui-button {
    background-color: #F5A700;
    border-color: #F5A700;
    border-radius: 15px;
}

//inputext
:host ::ng-deep.ui-inputtext {
    border-radius: 15px;
}
.row.p-t-4.p-b-4.p-l-0.p-r-0.city-resume {
    padding: 0% 5% 0% 5%;
}
.cuadro-grafico-ciudades {
    background-color: #fff;
    background: #fff;
    overflow: hidden;
    -moz-border-radius: 27px 27px 27px 27px;
    -webkit-border-radius: 27px 27px 27px 27px;
    box-shadow: 0px 0px 49px -7px #c7c7cf;
    padding: 6%;
}
.fondito-azul {
    min-width: 300px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0%;
    background-color: azure;
    background: #0f90f6;
    background: linear-gradient(78deg, #0f90f6 0%, #046bf5 100%);
    text-align: center;
    align-content: center;
    max-width: 550px;
    margin-top: 50px;
    padding: 0% 0% 0% 0%;
    text-align: center;
    align-items: center;
}
.botones {
    background-color: #fff0;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 20px;
}
.covid-header {
    margin-top: 0px;
    background: #189cff;
    background: linear-gradient(78deg, #2194fd 0%, #0b6df5 100%);
    color: white;
    display: flex;
    align-items: center;
    padding-top: 1.6em;
}
.adentro-azul-1 {
    padding: 10px 0px 0px 0px;
}
.adentro-azul-2 {
    margin-bottom: 20px;
}
.cuadro-grafico-ciudades {
    background-color: #fff;
    background: #fff;
    overflow: hidden;
    -moz-border-radius: 27px 27px 27px 27px;
    -webkit-border-radius: 27px 27px 27px 27px;
    box-shadow: 0px 0px 49px -7px #c7c7cf;
    padding: 6%;
    margin-top: 30px;
}
h2.subtitle.ides-text-blue {
        margin-top: 40px;
}
@media (min-width: 360px){
    .contiene-ciuades-todo {
    display: inline-block;
    }
}
@media (min-width: 1080px){
    .contiene-ciuades-todo {
    display: flex;
    }
}

@media (min-width: 360px){
.fondo-blanco {
    width: 100%;
    }
}
@media (min-width: 360px){
.botones3 {
    display: block;
    padding-left: 20%;
    }
}
@media (min-width: 1080px){
    .botones3 {
        display: flex;
        padding-left: 0%;
        }
    }
@media (min-width: 360px){
    .fondo2-gris {
        width: 100%;
        }
    }
@media (min-width: 1080px){
        .fondo-blanco {
            width: 50%;
            }
        }
@media (min-width: 1080px){
            .fondo2-gris {
                width: 50%;
                }
            }
            .row-azul {
                margin-left: 0%;
                margin-right: 0%;
            }
@media (min-width: 1080px){          
                .fondo2-gris {
                                width: 50%;
                                padding-left: 0%;
                                padding-right: 0%;
                    }
}
@media (min-width: 1080px){          
.fondo2-gris {
                width: 50%;
                padding-left: 3%;
                padding-right: 3%;
    }
}
.cuadros-abajo.ng-star-inserted {
    margin-bottom: 50px;
    margin-top: 20px;
}
.row.pl-4.pr-4.pt-4.city-resume {
    padding-bottom: 30px;
    /* margin-left: 30px; */
}
.row.w-100.text-center {
    padding-left: 50px;
}
.col-2 {
    margin-left: 40px;
}
.col-sm-3.col-md-1 {
    MARGIN-RIGHT: 30PX;
}
.GRAFICO-INV {
    WIDTH: 15%;
    margin: 0 auto;
    text-align: center;
}
.TEXTO-INV {
    WIDTH: 85%;
}
.ides-card.row-inv {
    display: flex;
    padding: 30px;
}
.ides-card.row-inv {
    display: flex;
    padding: 30px;
}