//button world cloud
:host ::ng-deep.ui-button {
    background-color: #F5A700;
    border-color: #F5A700;
    border-radius: 20px;
    padding: 6px;
}

//inputext
:host ::ng-deep.ui-inputtext {
    border-radius: 15px;
}