<div class="row mt-5 mb-5">
  <div class="col-auto m-auto">
    <div class="card ides-card-border-radius-0">
      <div class="card-body">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <input formControlName="email" [email]="true" type="email" class="form-control mb-3" placeholder="{{'fieldForm.email' | translate}}"/>
          <div class="fg-actions d-flex justify-content-between">
            <div class="recover-pass">
              <a class="text-decoration-none btn btn-outline-info" [routerLink]="['/auth/login']" translate>Back to login</a>
            </div>
            <div class="recover-pass">
              <button [disabled]="!forgotPasswordForm.valid" type="submit" class="btn btn-info">
                <a class="text-decoration-none text-white" translate>button.reset</a>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>