<div class="row footer">
    <div class="FOOTERa">
        <div class="logoo1">
            <a href="https://www.ide.edu.ec/corp/divisiones/escuela-de-gobierno/" target="_blank">
                <img width="250" height="70" [src]="'assets/logos/logo-01.png'" />
            </a>
        </div>
    </div>
    <div class="FOOTERb">
        <div class="logoo2">
            <a href="https://www.counterpart.org/" target="_blank">
                <img width="250" height="70" [src]="'assets/logos/logo-02.png'" />
            </a>
        </div>
    </div>
    <div class="FOOTERc">
        <div class="logoo3">
            <a *ngFor="let i of icons" target="_blank" [attr.href]="i.link" class="mr-5">
                <fa class="cursor-pointer ides-text-white" [name]="i.name"></fa>
            </a>
        </div>
    </div>
</div>

<div class="FOOTER3">
    <div class="col-xs-12 col-sm-11  pt-3 footer-text">
        <p class="footer3">
            © PLATAFORMA DE IDEAS URBANAS 2020
        </p>
    </div>
    <!-- <div class="col-xs-12 col-sm-1 social-footer">
        <div class="login d-xs-block d-sm-none" [ngSwitch]="isAuthenticated()" (mouseover)='overLogin = true'
            (mouseout)='overLogin = false' style="width: 50px; float: left;">
            <div *ngSwitchCase="true" class="ides-text-blue" style="font-size: 16px;">
                <span translate>hello</span>, {{ getName() }} <i-feather (click)="logout()" class="cursor-pointer"
                    name="log-out"></i-feather>
            </div>
            <a *ngSwitchDefault routerLink="/auth/login">
                <img width="20" height="16"
                    [src]="overLogin ? 'assets/ICONOS/user-admin-naranja.png' : 'assets/ICONOS/user-admin-blanco.png'" />
            </a>
        </div>

    </div> -->
</div>