.footer-background {
    background: #076DCD 0% 0% no-repeat padding-box;
}

.footer-background-copy {
    background-color: #024bc3;
    height: 100%;
}

.footer1 {
    background: #004587 0% 0% no-repeat padding-box;
}

.text-footer {
    font: 10pt 'Noto Sans TC';
    color: white;
}

.ides-footer-icons-mobile {
    width: 30px;
}

@media screen and (max-width: 575px) {
    .social-footer {
        margin-left: 30%;
        margin-bottom: 1em;
    }
    .ides-dropdown-footer {
        border: 1px solid #FFFFFF !important;
        border-radius: 9px !important;
        color: #FFFFFF !important;
        height: 25px;
        font-size: 10pt;
        padding: 0 7px;
    }
}

@media screen and (min-width: 576px) {
    .social-footer {
        margin-top: 1em;
    }
}

.footer1 {
    background: #004587 0% 0% no-repeat padding-box;
    margin-top: -1px;
}

.footer-text {
    font: 15px "Roboto", sans-serif;
}

@media (min-width: 360px) {
    .FOOTERa {
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 360px) {
    .FOOTERb {
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 360px) {
    .FOOTERc {
        width: 0%;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .FOOTERa {
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .FOOTERb {
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .FOOTERc {
        width: 0%;
        text-align: center;
    }
}

@media (min-width: 1000px) {
    .FOOTERa {
        width: 50%;
        text-align: left !important;
    }
}

@media (min-width: 1000px) {
    .FOOTERb {
        width: 50%;
        text-align: left !important;
    }
}

@media (min-width: 1000px) {
    .FOOTERc {
        width: 0%;
        text-align: right !important;
    }
}

@media (min-width: 1024px) {
    .FOOTERa {
        width: 50%;
        text-align: right !important;
        padding-right: 2%;
    }
}

@media (min-width: 1024px) {
    .FOOTERb {
        width: 50%;
        text-align: left !important;
        padding-left: 2%;
    }
}

@media (min-width: 1366px) {
    .FOOTERa {
        width: 50%;
        text-align: right !important;
        padding-right: 2%;
    }
}

@media (min-width: 1366px) {
    .FOOTERb {
        width: 50%;
        text-align: left !important;
        padding-left: 2%;
    }
}

@media (min-width: 1920px) {
    .FOOTERa {
        width: 50%;
        text-align: right !important;
        padding-right: 3%;
    }
}

@media (min-width: 1920px) {
    .FOOTERb {
        width: 50%;
        text-align: left !important;
        padding-left: 3%;
    }
}

.logoo3 {
    padding-top: 25px;
    padding-bottom: 25px;
}